@import '../../global.css';

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.search-input {
  padding: 8px;
  font-size: 14px;
}

.search-button {
  background-color: black;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 5px;
}

.entrar {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 40px;
  background-color: var(--primary);
  border-radius: 4px;
  color: var(--white);
  font-size: 14px;
  font-weight: bold;
}
